$primary: #8f7e67;
$periodic_font_1: #c77c73;
$periodic_font_2: #e1e133;
$periodic_font_3: #3bb28d;
$periodic_font_4: #fcfadb;
$bg: #2b2b2b;

// Typography

$periodic_font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
$periodic_weight: 300;
$periodic_fontsize_1: 24px;
$periodic_fontsize_2: 10px;
$periodic_fontsize_3: 8px;
$tile_boder: #000;
