@import "reset";
@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: $bg;
  margin: 24px 48px;
  padding: 24px 48px;
}

.periodic {
  display: flex;
  flex-direction: column-reverse;
  &-left {
    position: relative;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    align-items: end;
    grid-auto-flow: dense;
  }
  &__tile {
    border: 2px solid $primary;
    width: 80px;
    height: 80px;
    transition: 1.5s;
    margin: 10px;
    background: $bg;
    &_green .periodic__name {
      color: $periodic_font_3;
    }
    &_red .periodic__name {
      color: $periodic_font_1;
    }
    &_yellow .periodic__name {
      color: $periodic_font_2;
    }
    &_primary .periodic__name {
      color: $primary;
    }
    &_active {
      transform: scale(2);
    }
  }
  &__top {
    display: flex;
    &_element {
      color: #fff;
      font-size: $periodic_fontsize_2;
      margin: 4px;
    }
  }
  &__name {
    margin-top: -12px;
    display: block;
    text-align: center;
    color: $periodic_font_2;
    font-size: 36px;
    transition: 1s;
  }
  &__id {
    margin-right: auto;
  }
  &__short {
    margin-left: auto;
  }
  &__bottom {
    color: #fcfadb;
    font-size: $periodic_fontsize_3;
    text-align: center;
    margin: 0;
  }
}

.periodic-axis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  &__name {
    color: #fff;
    font-size: 11px;
  }
  &__el {
    display: block;
    background: #fff;
    transition: 2s;
  }
  &_left {
    left: -25px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 100%;
    .periodic-axis__el {
      width: 2px;
      height: 200px;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}
